* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo {
    display: flex;   
    align-items: center;
    height: 100%;
    width: auto;
}

.logo h1 {
    color: rgb(18,146,205);
}

.listaopcoes {
    justify-content: center;
    align-items: center;
    display: flex;
}

.listaopcoes ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.listaopcoes a {
    text-decoration: none;
    color: white;
    background-color: rgb(18,146,205);
    padding: 10px;
    border-radius: 20px;
}

footer {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(46, 46, 46);
}

.membros {
    display: flex;
    
}